body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
}
.header{
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 16px;

}
.header p{
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
}
ul{
  display: flex;
  list-style-type: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  gap: 16px;
}
.content1{
  display: flex;
}
.content2{
  display: flex;
  flex-flow: column;
}
.pictures{
  display: flex;
}
.quote{
  display: flex;
  flex-flow: column;
}
.call-to-action{
  display: flex;
}
.footer{
  display: flex;
}