body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-between;
  padding: 1em 20em;

}
.header p{
  font-size: 24px;
  color: #f9faf8;
  font-weight: 800;
}
ul{
  display: flex;
  list-style-type: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  gap: 16px;
}
.content1{
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 4em 20em;
  padding-bottom: 8em;
  
}
.placeholder{
  background-color: rgb(177, 177, 177);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex: 1;
}
.herotext{
  display: flex;
  flex-flow: column;
  flex: 1;
}
.main{
  font-size: 48px;
  font-weight:1000;
  color: #f9faf8;
  margin-bottom: 0;
}
.content1 .secondary{
  font-size: 18px;
  color: #e5e7eb;
}
.button1{
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.content2{
  display: flex;
  flex-flow: column;
  padding: 1em 20em;
  padding-bottom: 8em;

}
.pictures{
  display: flex;
  justify-content: center;
  gap: 52px;
  
}
.rectangle{
  width: 150px;
  height: 150px;
  border: rgb(41, 132, 252) solid;
  border-radius: 20px;
}
.rectangle-text{
  text-align: center;
  color: rgb(105, 105, 105);
  padding: 10px;
}
.rec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote{
  display: flex;
  flex-flow: column;
  background-color: #e5e7eb;
  padding: 4em 20em;
  margin: 0;

}
.quotetext{
  font-size: 36px;
  font-style:italic;
  padding: 0;
  margin: 0;
  margin-bottom: -50px;
  
}
.quote .author{
  align-self: flex-end;
  font-weight: 600;
  font-size: 22px;
  
}

.call-to-action{
  display: flex;
  background-color: #3882f6;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1em 10em;
  margin: 5em 20em;
  border-radius: 20px;
}
.button2{
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  width: 140px;
  height: 40px;
  border-color: white;
  align-self: center;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
}
h2{
  font-size: 36px;
  color: #1f2937;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 2em;
}
.call1{
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  margin-bottom: 10px;
}
.call2{
  margin: 0;
  font-size: 18px;
}
.action-text{
  padding: 35px 0;

}
